
/* Seção de Configuração*/

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
    color: #000;
}
.texto_sugestoes {
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.bold {
    font-weight: 500;
    font-size: 14px;
    color: #8E8E8E;
}
.nome_perfil {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}
.post a:hover {
    text-decoration: underline;
    filter: brightness(100%);
}

/* Seção de Topo*/

.topo {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    height: 54px;
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    background-color: #fff;
}
.funcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 935px;
    height: 100%;
    margin: 0 auto 0 auto;
}
.instagram {
    display: flex;
    align-items: center;
}
.instagram img {
    width: 103px;
    height: 29px;
    margin-left: 10px;
}
.separaçao {
    width: 1px;
    height: 30px;
    background-color: #DBDBDB;
}
ion-icon {
    width: 18px;
    height: 18px;
    margin: 0 10px;
}
.pesquisa {
    text-align: center;
    width: 215px;
    height: 28px;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.funcoes_mobile {
    display: none;
}

/* Seção de container do conteudo*/

.box-body {
    display: flex;

    width: 935px;
    background-color: #fafafa;
    margin: 88px auto 0px auto; 
}

/* Seção de Stories*/

.stories {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;

    height: 118px;
    width: 614px;
    margin-bottom: 24px;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.stories > div {
    text-align: center;
    margin-left: 16px;
}
.stories_background{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 66px;
    min-width: 66px;
    height: 66px;
    background-image: url("stories_background.jpg");
    background-size: cover;
}
.stories img, .stories a{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.stories p {
    font-size: 13px;
    color: #262626;
    line-height: 14px;
    font-weight: 400;
    margin-top: 5px;
}
.button_stories {
    position: absolute;
    top: 45px;
    right: 0px;

    width: 35px;
    height: 35px;
    border: none;
    color: #6b6b6b;
}

/* Seção de Posts*/ 

.post {
    background-color: #fff;
    width: 614px;
    margin-bottom: 54px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.titulo_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.post div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.post > img {
    width: 100%;
    height: 612px;
    margin-top: 10px;
}
.logo_nome img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 16px;
    margin-right: 16px;
    object-fit: cover;
}
.comentarios{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height:40px;
    background-color:#fff;
    border-radius:2px;
    border-top: 1px solid #eeeded;
    margin-top: 5px;
  }
  .txtComent {
    font-size:  14px;
    height:32px;
    width: 100%;
    border:none;
    padding-left:5px;
    background-color: inherit;
  }
  .button {
    font-weight:bold;
    color: #B2DFFC;
    transition-duration: 300ms;
  }
  .button:hover {
      color: #0095F6;
  }

/* Seção de Sidebar Fixa*/

.sidebar_fixed {
    position: fixed;
    top: 88px; /*A posiçao horizontal não foi fixada para manter diplay fluido*/
    width: 293px;
    padding-left: 30px;
}
.sugestao_destaque {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 103px;   
}
.sugestao, .sugestao div, .sugestão_pra_voce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sugestão_pra_voce {
    padding-bottom: 15px;
}
.logo_perfil {
    padding: 10px 0;
}
.logo_perfil div, .sugestao_destaque div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;

    height: 32px;
    margin-left: 12px;
}
.sugestao_destaque img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    object-fit: cover;
}
.logo_perfil img {
    width: 35px;
    height: 35px;
    border-radius: 16px;
    object-fit: cover;
}
.button_seguir {
    border: none;
    font-weight:bold;
    background-color: inherit;
    color: #139EF2;
}

  /* Seção Responsiva*/

.barra-nav_mobile {
    display: none;
}

@media (max-width: 935px) {

    .funcoes {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .box-body {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 614px) {

    .instagram, .pesquisa, .icones {
        display: none;
    }
    .funcoes_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .box-body {
        margin: 54px 0 20px 0;
    }
    .stories {
        width: 100vw;
        background-color: #fff; /* A cor #fff foi mantida para permanecer igual à imagem usada como background (No figma ta inherit)*/
        border: none;
        margin-bottom: 0;
    }
    .button_stories {
        display: none;
    }
    .post {
        width: 100%;
    }
    .post > img {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .barra-nav_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 54px;
        background-color: #fff;
        border-top: 1px solid #eaeaea;
    }
    .barra-nav_mobile a {
        color: #000;
    }
}