body {
    background-color: #E5E5E5;
}
.topo {
    background-color: #fff;
    height: 54px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eaeaea;
}
.funcoes {
    width: 1014px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 auto;
}
.funcoes_mobile {
    display: none;
}
.box-body {
    width: 1014px;
    background-color: #E5E5E5;
    margin-left: 20vw;
    margin: 88px auto 24px auto;
    display: flex;
}
.stories {
    height: 118px;
    width: 614px;
    margin-bottom: 20px;
    background-color: #fff;
}
.sidebar div {
    background-color: gray;
    height: 600px;
    width: 400px;
    position: fixed;
    top: 88px;
    left: auto;
}
.post {
    background-color: #fff;
    width: 614px;
    height: 750px;
    margin-bottom: 54px;
}
.comentarios{
    width: 100%;
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    height:32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .txtComent {
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width: 100%;
  }
  .button {
    border:none;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }

.barra-nav_mobile {
    display: none;
}

@media (max-width: 935px) {

    .funcoes {
        width: 100%;
    }
    .sidebar {
        display: none;
    }
    .box-body {
        width: 100%;
        justify-content: center;
    }

@media (max-width: 614px) {

    .instagram, .pesquisa, .icones {
        display: none;
    }
    .funcoes_mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .box-body {
        margin-bottom: 20px;
    }
    .stories {
        width: 100vw;
    }
    .post {
        width: 100%;
    }
    .barra-nav_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 54px;
        background-color: #fff;
        border-top: 1px solid #eaeaea;
    }
}